body {
    background-color: rgb(0, 0, 0);
    /* background-image: url('the_future.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;
}

p {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

label {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 20px;
}

img {
    display: flex;
    margin: auto;
}