/* Make navbar sticky */
#navbar {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1000; /*elements with higher z-index values appear on top of elements with lower values*/
  display: flex;
  justify-content:flex-end;
  backdrop-filter: blur(20px) brightness(0.8);
}

/* Style the links inside the navigation bar */
#navbar a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
}
/* Change the color of links on hover */
#navbar a:hover {
  background-color: #ffffff;
  color: #222cf2;
  transition: .5s ease;
}

#navbar a.logo {
  margin-right: auto;
}
/* Add a color to the active/current link */
#navbar a.active {
  background-color: #222cf2;
  color: rgb(255, 255, 255);
}

/* Footer */
#foot {
  left: 0;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  /* padding: 2px; */
  backdrop-filter: blur(20px) brightness(0.8);
  text-align: center;
}

#foot a {
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-family: monospace;
  /* text-decoration: none; */
}