body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}


h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;
}

.greet {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;
}

p {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.about {
    backdrop-filter: blur(50px);
    width: 100%;
    height: 500px;
    margin: auto;
    position: relative;
    display: flex;
}

.script {
    position: relative;
    font-size: 20px;
}

.product1 {
    background-color: #222cf2;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product2 {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}


/*Images*/
.pic1 {
    position: relative;
    width: 70%;
    margin: auto;
}

.pic1:hover .overlay {
    opacity: 1;
}

.image {
    display: block;
    width: 100%;
    height: auto; 
    /* display: flex; */
    margin: auto;
    object-fit: cover;
    border-radius: 80px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    backdrop-filter: blur(50px);
    transition: .7s ease;
    /* background-image: url("background_blur.png"); */
    border-radius: 80px;
    border-color: #ffffff;
    /* border-width: 100px; */
}

.text {
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}